<a href="https://colab.research.google.com/github/chrmorelli/Case-Study.Algorithm-Potatoes/blob/main/Case_study_ChyvaCodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [ ]:
path = '/content/data.db'

In [ ]:
con = sq3.Connection(path)

In [ ]:
query = """
SELECT *
FROM client;
"""
client = pd.read_sql(query,con)
print(client)

        client_id   age            job   marital  education gender
0       249789938  38.0       services   married  secondary      M
1      1222646323  46.0       services  divorced    unknown      M
2       451375919  33.0         admin.    single  secondary      F
3       338972671  44.0  self-employed   married  secondary      F
4      1472834688  36.0    blue-collar   married    primary      M
...           ...   ...            ...       ...        ...    ...
11157   543198889  40.0    blue-collar    single    unknown      M
11158   458558558  41.0      housemaid  divorced    primary      F
11159  1426334329  59.0     technician   married    primary      F
11160   831035343  42.0     management   married   tertiary      M
11161   705801685  36.0    blue-collar    single  secondary      F

[11162 rows x 6 columns]

In [ ]:
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  11162 non-null  int64
 1   age        10930 non-null  float64
 2   job        10724 non-null  object
 3   marital    11162 non-null  object
 4   education  11162 non-null  object
 5   gender     11162 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 523.3+ KB

In [ ]:
client.isnull().sum()

client_id      0
age          232
job          438
marital        0
education      0
gender         0
dtype: int64

In [ ]:
client['job'].value_counts()

management       2472
blue-collar      1850
technician       1760
admin.           1284
services          890
retired           750
self-employed     388
student           346
unemployed        340
entrepreneur      316
housemaid         262
unknown            66
Name: job, dtype: int64

In [ ]:
client['job'].isnull().sum()

438

In [ ]:
client['job'] = client['job'].fillna('unknown')

In [ ]:
client['job'].isnull().sum()

0

In [ ]:
client['age'] = client['age'].fillna(client['age'].median())

In [ ]:
client.isnull().sum()

client_id    0
age          0
job          0
marital      0
education    0
gender       0
dtype: int64

In [ ]:
query = """
SELECT *
FROM balances;
"""

balances= pd.read_sql(query,con)
print(balances)

                              date      balance  client_id currency
0       2023-06-06 16:21:15.291346  2680.467773  249789938      CZK
1       2023-05-23 16:21:15.291346  2654.055419  249789938      CZK
2       2023-05-09 16:21:15.291346  2620.835872  249789938      CZK
3       2023-04-25 16:21:15.291346  2720.315925  249789938      CZK
4       2023-04-11 16:21:15.291346  2687.601982  249789938      CZK
...                            ...          ...        ...      ...
290207  2022-08-16 16:22:46.440217   145.454161  705801685      CZK
290208  2022-08-02 16:22:46.440217    -5.497494  705801685      CZK
290209  2022-07-19 16:22:46.440217   -45.891607  705801685      CZK
290210  2022-07-05 16:22:46.440217    19.473946  705801685      CZK
290211  2022-06-21 16:22:46.440217   163.032053  705801685      CZK

[290212 rows x 4 columns]

In [ ]:
def multiply_balance(balance, currency):
  if currency == 'CZK':
    balance = balance * 1
    return balance
  if currency == 'USD':
    balance = balance * 22
    return balance
  if currency == 'EUR':
    balance = balance * 25
    return balance

In [ ]:
import numpy as np

In [ ]:
balances['new_balance_CZK'] = np.vectorize(multiply_balance)(balances['balance'], balances['currency'])

In [ ]:
new_balances = balances.groupby(['client_id'],as_index=False).mean().drop('balance',axis=1)

<ipython-input-62-660f04a37dc6>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_balances = balances.groupby(['client_id'],as_index=False).mean().drop('balance',axis=1)

In [ ]:
print(balances['client_id'].value_counts())

249789938     26
982175942     26
1887995983    26
1948004361    26
1945476475    26
              ..
1686265805    26
691453334     26
419951641     26
808718625     26
705801685     26
Name: client_id, Length: 11162, dtype: int64

In [ ]:
new_balances

        client_id  new_balance_CZK
0       100070076       203.907928
1       100141910      2544.965438
2       100207570       -15.679495
3       100488560       381.488613
4       100605013       420.351449
...           ...              ...
11157  1999463182      1268.089349
11158  1999499145        -4.751058
11159  1999715381       676.988885
11160  1999945413      5047.496305
11161  1999956516       231.982319

[11162 rows x 2 columns]

In [ ]:
query = """
SELECT *
FROM client_products;
"""

client_products= pd.read_sql(query,con)
print(client_products)

        client_id has_deposits loan has_insurance has_mortgage
0       249789938          yes   no             n           no
1      1222646323           no   no             n           no
2       451375919           no   no             n          yes
3       338972671           no   no             y          yes
4      1472834688          yes   no             n          yes
...           ...          ...  ...           ...          ...
11157   543198889           no   no             n          yes
11158   458558558           no   no             n          yes
11159  1426334329           no   no             y          yes
11160   831035343           no   no             n           no
11161   705801685          yes   no             n          yes

[11162 rows x 5 columns]

In [ ]:
client_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   client_id      11162 non-null  int64
 1   has_deposits   11162 non-null  object
 2   loan           11162 non-null  object
 3   has_insurance  11162 non-null  object
 4   has_mortgage   11162 non-null  object
dtypes: int64(1), object(4)
memory usage: 436.1+ KB

In [ ]:
client_products.isnull().sum()

client_id        0
has_deposits     0
loan             0
has_insurance    0
has_mortgage     0
dtype: int64

In [ ]:
print(client_products['loan'].value_counts())

no     9702
yes    1460
Name: loan, dtype: int64

In [ ]:
query = """
SELECT *
FROM inv_campaign_eval;
"""

inv_campaign_eval= pd.read_sql(query,con)
print(inv_campaign_eval)

       client_id poutcome
0      249789938  success
1     1504633819  failure
2     1952195738  success
3      989726384  success
4     1971878545  failure
...          ...      ...
2294  1270855655  failure
2295   471724023  success
2296   620088171  failure
2297  1518319265  success
2298   705801685  success

[2299 rows x 2 columns]

In [ ]:
inv_campaign_eval['poutcome'].value_counts()

failure    1228
success    1071
Name: poutcome, dtype: int64

In [ ]:
inv_campaign_eval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299 entries, 0 to 2298
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  2299 non-null   int64
 1   poutcome   2299 non-null   object
dtypes: int64(1), object(1)
memory usage: 36.0+ KB

In [ ]:
inv_campaign_eval.isnull().sum()

client_id    0
poutcome     0
dtype: int64

In [ ]:
print(inv_campaign_eval['client_id'].value_counts())

249789938     1
468789945     1
1179560659    1
190683032     1
1357690628    1
             ..
1853910599    1
1590489587    1
1751283798    1
1451231820    1
705801685     1
Name: client_id, Length: 2299, dtype: int64

In [ ]:
df_merge1 = pd.merge(client, new_balances, how='outer', on='client_id')
df_merge1

,client_id,age,job,marital,education,gender,new_balance_CZK
0,249789938,38.0,services,married,secondary,M,2669.532734
1,1222646323,46.0,services,divorced,unknown,M,960.562073
2,451375919,33.0,admin.,single,secondary,F,1221.016419
3,338972671,44.0,self-employed,married,secondary,F,297.993265
4,1472834688,36.0,blue-collar,married,primary,M,1919.318145
...,...,...,...,...,...,...,...
11157,543198889,40.0,blue-collar,single,unknown,M,18.441905
11158,458558558,41.0,housemaid,divorced,primary,F,25.552707
11159,1426334329,59.0,technician,married,primary,F,3157.720202
11160,831035343,42.0,management,married,tertiary,M,24771.387533
11161,705801685,36.0,blue-collar,single,secondary,F,40.204823

In [ ]:
df_merge2 = pd.merge(df_merge1, client_products, how='outer', on='client_id')
df_merge2

,client_id,age,job,marital,education,gender,new_balance_CZK,has_deposits,loan,has_insurance,has_mortgage
0,249789938,38.0,services,married,secondary,M,2669.532734,yes,no,n,no
1,1222646323,46.0,services,divorced,unknown,M,960.562073,no,no,n,no
2,451375919,33.0,admin.,single,secondary,F,1221.016419,no,no,n,yes
3,338972671,44.0,self-employed,married,secondary,F,297.993265,no,no,y,yes
4,1472834688,36.0,blue-collar,married,primary,M,1919.318145,yes,no,n,yes
...,...,...,...,...,...,...,...,...,...,...,...
11157,543198889,40.0,blue-collar,single,unknown,M,18.441905,no,no,n,yes
11158,458558558,41.0,housemaid,divorced,primary,F,25.552707,no,no,n,yes
11159,1426334329,59.0,technician,married,primary,F,3157.720202,no,no,y,yes
11160,831035343,42.0,management,married,tertiary,M,24771.387533,no,no,n,no
11161,705801685,36.0,blue-collar,single,secondary,F,40.204823,yes,no,n,yes

In [ ]:
df = pd.merge(df_merge2, inv_campaign_eval, how='inner', on='client_id')
df

,client_id,age,job,marital,education,gender,new_balance_CZK,has_deposits,loan,has_insurance,has_mortgage,poutcome
0,249789938,38.0,services,married,secondary,M,2669.532734,yes,no,n,no,success
1,1504633819,38.0,management,married,tertiary,M,5440.862334,no,yes,n,yes,failure
2,1952195738,34.0,services,married,secondary,M,2922.958852,yes,yes,n,no,success
3,989726384,62.0,retired,married,secondary,F,3124.614843,yes,no,n,no,success
4,1971878545,36.0,management,single,tertiary,M,474.083033,yes,no,n,no,failure
...,...,...,...,...,...,...,...,...,...,...,...,...
2294,1270855655,58.0,admin.,divorced,secondary,F,3349.398115,yes,no,y,yes,failure
2295,471724023,72.0,retired,married,primary,M,4645.473515,yes,no,n,no,success
2296,620088171,34.0,admin.,married,tertiary,F,895.455390,yes,no,y,yes,failure
2297,1518319265,39.0,management,married,unknown,F,77.494621,yes,no,n,no,success
2298,705801685,36.0,blue-collar,single,secondary,F,40.204823,yes,no,n,yes,success

In [ ]:
from sklearn.preprocessing import